<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Converter.App.Console\packages.config" />
  <repository path="..\src\Converter.App.WinForms\packages.config" />
  <repository path="..\src\Converter.Common\packages.config" />
  <repository path="..\src\Converter.Models\packages.config" />
  <repository path="..\src\Converter.Presentation\packages.config" />
</repositories>